useDynLib(rCausalMGM, .registration=TRUE)
importFrom("Rcpp", "evalCpp")
importFrom("graphics", "abline", "arrows", "legend", "points")
importFrom("stats", "as.formula", "model.matrix", "quantile", "rnorm", "runif")
## importFrom("survival", "Surv")
importFrom("graph", "graph.par", "graphNEL", "subGraph", "edgeNames", "nodeRenderInfo", "edgeRenderInfo")
importFrom("Rgraphviz", "layoutGraph")
exportPattern("^[[:alpha:]]+")
S3method(print, graph, print.graph)
S3method(print, graphCV, print.graphCV)
S3method(print, graphPath, print.graphPath)
S3method(print, graphSTEPS, print.graphSTEPS)
S3method(print, graphSTARS, print.graphSTARS)
S3method(print, knowledge, print.knowledge)
S3method(plot, graph, plot.graph)
S3method(plot, graphCV, plot.graphCV)
S3method(plot, graphPath, plot.graphPath)
S3method(plot, graphSTEPS, plot.graphSTEPS)
S3method(plot, graphSTARS, plot.graphSTARS)
