useDynLib(rCausalMGM, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
S3method(print, graph, print.graph)
S3method(plot, graph, plot.graph)
S3method(as.data.frame, graph, as.data.frame.graph)
