useDynLib(rCausalMGM, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
S3method(print, graph, print.graph)
S3method(print, graphCV, print.graphCV)
S3method(print, graphPath, print.graphPath)
S3method(plot, graph, plot.graph)
S3method(plot, graphCV, plot.graphCV)
S3method(plot, graphPath, plot.graphPath)
S3method(as.data.frame, graph, as.data.frame.graph)
